.button{
  @include button($base-unit,3*$base-unit);
  cursor: btnCursor($default-cursor);
  border-radius: btnBorderRadius(3px);
  padding: padding(0 12px 0 12px);
   @include btnFont($primary-font-color,2px-$base-unit); 
  &.solid{
    &.active{
      background-color: btnSolid(#0648a5);
      &:hover{
      background-color: btnSolid(#1b3d6d);
    }
    }
    &.disabled{
      background-color: btnSolid(#a4a4a4);
      cursor: btnCursor(not-allowed);
      &:hover{
        background-color: btnSolid(#1a1a1a);
      }
    }
  }
  &.line{
    @include btnFont(#333333,2px-$base-unit);
    border: btnLine(1px solid #333333);
    &.active{
      opacity: opacityAdjust(1);
    }
    &.disabled{
      opacity: opacityAdjust(0.6);
      cursor: btnCursor(not-allowed);
    }
  }
  &.iconText{
    span{
      display: $basic-display;
    }
    &.iconLeft{
      .icon{
        margin-right: $base-unit - 6px;
      }
    }
    &.iconRight{
      .icon{
        margin-left: $base-unit - 6px;
      }
    }
  }
  &.iconOnly{
    min-width:($base-unit);
  }
  &.link{
    @include btnFont(blue,2px-$base-unit);
    &.active{
      opacity: opacityAdjust(1);
    }
    &.disabled{
      opacity: opacityAdjust(0.6);
      cursor: btnCursor(not-allowed);
    }
  }
  
}