.button{
    @include button(12*$base-unit,3*$base-unit);
    cursor: btn-cursor($default-cursor);
    border-radius: btn-border-radius(3px);
     @include btn-font($primary-font-color,2px-$base-unit); 
    &.solid {
      &.active {
        background-color: btn-solid(#0648a5);
        &:hover {
        background-color: btn-solid(#1b3d6d);
      }
      }
      &.inactive{
        background-color: btn-solid(#a4a4a4);
        cursor: btn-cursor(not-allowed);
        &:hover{
          background-color: btn-solid(#1a1a1a);
        }
      }
    }
    &.line{
      @include btn-font(#333333,2px-$base-unit);
      border: btn-line(1px solid #333333);
      &.active{
        opacity: opacity-adjust(1);
      }
      &.inactive{
        opacity: opacity-adjust(0.6);
        cursor: btn-cursor(not-allowed);
      }
    }
    &.iconText{
      span{
        margin-right: pixel-minus(4px,$base-unit);
        display: $basic-display;
      }
    }
    &.iconOnly{
      width:(3*$base-unit);
    }
    &.link{
      @include btn-font(blue,2px-$base-unit);
      &.active{
        opacity: opacity-adjust(1);
      }
      &.inactive{
        opacity: opacity-adjust(0.6);
        cursor: btn-cursor(not-allowed);
      }
    }
  }