@mixin btnFont ($textColor, $textSize) {
  color: $textColor;
  font-size: $textSize;
}
@mixin button ($width, $height) {
  min-width: $width;
  height: $height;
  display: $basic-display;
  align-items: $center-alignment;
  justify-content: $center-alignment;
  position: $base-position;
  font-family: $base-font-family;
}
