@mixin btn-font ($text-color, $text-size) {
  color: $text-color;
  font-size: $text-size;
}
@mixin button ($width, $height) {
  width: $width;
  height: $height;
  display: $basic-display;
  align-items: $center-alignment;
  justify-content: $center-alignment;
  position: $base-position;
  font-family: $base-font-family;
}